<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Teacher Comments</title>
    <script src="script.js" defer></script>
    <link rel="stylesheet" href="style.css">
</head>
<body>

<div class="blog-container">
    <iframe src="https://www.compscihigh.org/our-team" frameborder="0"></iframe>
</div>
  <h2>Submit a Comment/Rating</h2>
  <form>
  <!-- Task 5 -->
  <!-- Based on your commentSchema from index.js create a form.-->
  <!-- Include the appropriate labels, inputs, and attributes   -->
  <!-- Note: IGNORE {timestamps: true} when creating your form. -->


    <label>Username: </label>
    <input type="text" name="username" />
    
    <label>Teacher: </label>
    <input type="text" name="teacher" />
    
    <label>Comment: </label>
    <input type="text" name="comment" />

    <label>Rating: </label>
    <input type="text" name="rating" />
    
    <button type="submit">Submit</button>
  </form>

  <!-- Task 6 -->
  <!-- Continue coding in script.js to capture this form data -->


<div class="comments-section">
    <h2>Comments</h2>
  <% for(let i = 0; i < comments.length; i++) { %>
    <div class="comment">
        <div class="comment-header">
            <span class="username"><%= comments[i].username %></span>
            <span class="timestamp"><%= comments[i].createdAt.toDateString() %> <%= comments[i].createdAt.getHours()%>:<%= comments[i].createdAt.getMinutes().toString().padStart(2, '0')%></span>
             
        </div>
               <span class="teacher"><%= comments[i].teacher %></span>
        <div class="rating">Rating: <%= comments[i].rating %> / 10 </div>
        <p class="comment-text"><%= comments[i].comment %></p>
    </div>
  <% } %>

</div>

</body>
</html>